.card {
  background-image: url('/images/texture.png');
  background-repeat: repeat;
  border: 6px solid #08181D;
  box-shadow:
    0 -1px 0 1px #a3551dc8,
    0 0 0 8px #a6581fc8,
    0 0 0 14px #0a0f11b7;
}
