/* Button */
.box {
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  background-image: url('/images/button-texture.png');
  box-shadow:
    0 -1px 0px 1px #524e3e,
    0 1px 0px 1.5px #0A1919,
    0 7px 0px 1.5px #102124,
    0 0px 0px 5.5px #0F191E,
    0 7px 0px 5.5px #0F191E;
}
.box:active{
  position: relative;
  top: 2px;
  box-shadow:
    0 -1px 0px 1px #5A5545,
    0 1px 0px 1.5px #0A1919,
    0 5px 0px 1.5px #102124,
    0 0px 0px 5.5px #0F191E,
    0 5px 0px 5.5px #0F191E;
}
.text {
  color: #C9B789;
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 3px;
  text-shadow:
    -1px 0 #f1d489,
    0 1px #000016,
    1px 0 #000016,
    0 -1px #000016,
    0 4px #122324;
}

/* Variants */
.primary {
  filter: brightness(100%);
}
.primary:hover {
  filter: brightness(95%);
}
.primary:active {
  filter: brightness(90%);
}

.secondary {
  filter: saturate(50%) brightness(90%);
}
.secondary:hover {
  filter: saturate(50%) brightness(85%);
}
.secondary:active {
  filter: saturate(50%) brightness(80%);
}
.secondary .text {
  color: #f7d276;
}
