@import "tailwindcss";
@import "tw-animate-css";

html,
body {
  font-family: "Fredoka", sans-serif;
}

body {
  background-image: url("/images/background.png");
  background-color: #f0f4fa;
  background-position: center -70px;
  background-repeat: no-repeat;
}

