@import "tailwindcss";
@import "tw-animate-css";

html,
body {
  background-color: #9AB8C1;
  background-image: url('/images/background.png');
  background-position: center -50px;
  background-size: cover;
  background-size: 105% 105%;
}

.cell {
  border-radius: 10px;
}

.cell-default {
  background: linear-gradient(
    180deg,
    #E2D8BE 50%,
    #d9caaa 100%
  );
  box-shadow:
    0 -1px 0px 1px #FEFCDF,
    0 0px 1px 2px #111C23;
}

.cell-correct {
  background: linear-gradient(
    180deg,
    #466B4E 50%,
    #40654A 100%
  );
  box-shadow:
    0 -1px 0px 1px #5b8768,
    0 0px 1px 2px #111C23;
}

.cell-present {
  background: linear-gradient(
    180deg,
    #EABB2F 50%,
    #E3B52B 100%
  );
  box-shadow:
    0 -1px 0px 1px #fddd6a,
    0 0px 1px 2px #111C23;
}

.cell-absent {
  background: linear-gradient(
    180deg,
    #b4afa4 50%,
    #a29d92 100%
  );
  box-shadow:
    0 -1px 0px 1px #d6d4be,
    0 0px 1px 2px #111C23;
}


.key {
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
.key:hover{
  filter: brightness(95%);
}
.key:active{
  filter: brightness(90%);
  position: relative;
  top: 1px;
}

.key-default {
  background: linear-gradient(
    180deg,
    #E2D8BE 50%,
     #D9CDB4 100%
  );
  box-shadow:
    0 -1px 0px 1px #FEFCDF,
    0 0px 0px 2px #b2a794,
    0 0px 0px 3px #020608;
}


.key-present {
  background: linear-gradient(
    180deg,
     #EABB2F 50%,
     #E3B52B 100%
  );
  box-shadow:
    0 -1px 0px 1px #fddd6a,
    0 0px 0px 2px #8a7528,
    0 0px 0px 3px #020608;
}

.key-correct {
  background: linear-gradient(
    180deg,
     #466B4E 50%,
     #40654A 100%
  );
  box-shadow:
    0 -1px 0px 1px #5b8768,
    0 0px 0px 2px #204c2d,
    0 0px 0px 3px #020608;
}

.key-absent {
  background: linear-gradient(
    180deg,
     #b4afa4 50%,
     #a29d92 100%
  );
  box-shadow:
    0 -1px 0px 1px #cec8bc,
    0 0px 0px 2px #7f7b70,
    0 0px 0px 3px #020608;
}

.achievement  {
  background-color: #353D41;
  border-radius: 5px;
  box-shadow:
    0 0px 0px 1px #2a363d,
    -1px -1px 0px 1px #121A1F,
    1px 1px 0px 1px #667177;
}

.achievement-empty {
  filter: grayscale(100%) opacity(50%);
}

.achievement-won {

}
